@import "../../../app/assets/scss/variables";

.banner-section {
  margin-bottom: 100px;
  .banner {
    .banner-titles-wrapper {
      margin-bottom: 20px;
      h1 {
        color: $color-blue-1;
        font-weight: 600;
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 10px;
        span {
          color: $color-primary;
        }
      }
      h2 {
        color: $color-blue-2;
        margin: 0;
        font-size: 40px;
        font-weight: 500;
      }
    }
    p {
      color: $color-grey-1;
      font-weight: 400;
      font-size: 22px;
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    .banner-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 992px) {
  .banner-section {
    margin-bottom: 40px;

    .banner {
      .banner-titles-wrapper {
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 30px;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}
