@import "../../../app/assets/scss/variables";

.courses-section {
  margin-bottom: 100px;
  .courses-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
