// colors
$color-primary: #ffb703;
$color-secondary: #fefefe;
$color-off-white: #fafafa;
$color-white: #ffffff;

$color-blue-1: #0e5269;
$color-blue-2: #023047;
$color-blue-3: #126783;
$color-blue-4: #212529;
$color-blue-5: #ced4da;
$color-blue-6: #8dcddd33;

$color-grey-1: #6c757d;
$color-grey-2: #1d1b1b;
$color-grey-3: #343a40;
