@import "../../../app/assets/scss/variables";

.card1 {
  background-color: #fafafa;
  border: 0.5px solid $color-blue-5;
  border-radius: 8px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    border: none;
    box-shadow: 11px 9px 8px 0px rgb(190, 186, 186);

    .card-title-container {
      .card-title {
        font-size: 28px;
      }

      .card-main-info {
        font-size: 28px;
      }
    }

    .card-content {
      font-size: 20px;
    }
  }

  .card-header-container {
    padding: 40px 20px 0 20px;
  }

  .card-footer-container {
    padding: 0 20px 40px 20px;
  }

  .image-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    position: relative;

    .main-img {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s ease-in-out;
    }
    .video {
      transition: all 0.4s ease-in-out;
      opacity: 0;
    }

    .main-img,
    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .small-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      font-size: 14px;
      font-weight: 600;
      color: $color-grey-1;
    }
  }

  .card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-blue-6;
    background-image: url(../../../app/assets/images/pages/home/course-card-bg.png);
    background-position: center;
    margin: 20px 0;
    padding: 8px 20px;

    .card-title {
      color: $color-blue-2;
      font-size: 24px;
      font-weight: 800;
      margin: 0;
    }

    .card-main-info {
      font-size: 26px;
      font-weight: 700;
      margin: 0;
    }
  }

  .card-content {
    color: $color-grey-1;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .sec-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .extra-info-txt {
      font-size: 20px;
      font-weight: 600;
      color: $color-grey-3;
      margin-bottom: 20px;
    }

    .card-owner-info {
      display: flex;
      justify-content: center;
      .owner-name {
        font-weight: 600;
        font-size: 18px;
        margin-inline-end: 5px;
        margin-bottom: 0;
        margin-top: 0;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
  .card-actions {
    display: flex;
    justify-content: center;
  }

  &:hover {
    .image-container {
      .main-img {
        opacity: 0;
      }
      .video {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 992px) {
  .card1 {
    .image-container {
      height: 200px;
      margin-bottom: 10px;
    }

    .small-text-container {
      div {
        font-size: 12px;
      }
    }

    .card-title-container {
      margin: 10px 0;
      padding: 6px 15px;

      .card-title {
        font-size: 20px;
        margin: 0;
      }

      .card-main-info {
        font-size: 23px;
        margin: 0;
      }
    }

    .card-content {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .sec-img-container {
      margin-bottom: 15px;

      .extra-info-txt {
        font-size: 15px;

        margin-bottom: 15px;
      }

      .card-owner-info {
        .owner-name {
          font-size: 15px;
          margin-inline-end: 3px;
          margin-bottom: 0;
          margin-top: 0;
        }

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
    }
  }
}
